:root, [data-theme="light"] {
	--background-color: #fff;
	--text-color: #444;
    --link-color: #0a79d4;
    --secondary-text-color: #767676;
    --logo-filter: none;
    --toggle-background-color: #333;
    --toggle-text-color: #ccc;
}

[data-theme="dark"] {
    --background-color: #333;
    --text-color: #ccc;
    --link-color: #6a9ce7;
    --secondary-text-color: #9b9b9b;
    --logo-filter: invert(100%);
    --toggle-background-color: #fff;
    --toggle-text-color: #444;
}

@media (prefers-color-scheme: dark) {

    :root {
       --background-color: #333;
       --text-color: #ccc;
       --link-color: #6a9ce7;
       --secondary-text-color: #9b9b9b;
   }

}

#theme_toggle, #theme_toggle:active, #theme_toggle:focus {
    float: right;
    background-color: var(--toggle-background-color);
    color: var(--toggle-text-color);
    padding: 5px;
    text-align: center;
    border: 0;
    outline: 0;
    box-shadow: none;
    border-radius: 5px;
}

.header {
    vertical-align: middle;
    text-align: right;
    max-width: 900px;
    margin: auto;
}

.header img {
    width: 175px;
    float: left;
    filter: var(--logo-filter);
}

.header h1 {
    font-family: monospace;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
    padding: 10px
}

.navbar li a {
    color: var(--text-color);
}


.content {
    max-width: 800px;
    margin: auto;
}

body {
    line-height: 1.6;
    font-size: 18px;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 0 10px;
}

h1, h2, h3 {
    line-height: 1.2
}

pre {
    font-size: 14px;
    overflow-x: auto;
}

a {
    color: var(--link-color);
}

.tag_list {
    padding: 20px;
    font-size: small;
    text-align: center;
}

.note_preview {
    line-height: 1;
    padding: 10px;
}

.note_preview_title {
    line-height: 0;
    white-space: nowrap;
    overflow: ellipsis;
}
.note_preview_subtitle {
    color: var(--secondary-text-color);
    line-height: 1;
    font-size: small;
}

.note_preview_subtitle a{
    color: var(--secondary-text-color);
}

.note_preview_summary {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.footer {
    border-top: 1px solid;
    text-align: center;
}

.error {
    text-align: center;
}

.error h1 {
    font-size: 10em;
}

#mc_embed_signup {
    background-color: var(--background-color) !important;
}