:root, [data-theme="light"] {
	--background-color: #fff;
	--text-color: #444;
    --link-color: #0a79d4;
    --secondary-text-color: #767676;
    --logo-filter: none;
    --toggle-background-color: #333;
    --toggle-text-color: #ccc;
}

[data-theme="dark"] {
    --background-color: #333;
    --text-color: #ccc;
    --link-color: #6a9ce7;
    --secondary-text-color: #9b9b9b;
    --logo-filter: invert(100%);
    --toggle-background-color: #fff;
    --toggle-text-color: #444;
} 

#theme_toggle, #theme_toggle:active, #theme_toggle:focus {
    background-color: var(--toggle-background-color);
    color: var(--toggle-text-color);
    padding: 5px;
    text-align: center;
    border: 0;
    outline: 0;
    box-shadow: none;
    border-radius: 5px;

}

button::-moz-focus-inner { 
    border: 0; 
}

.navbar {
    display: flex;
    background-color: var(--background-color);
    width: 100%;
    position: fixed;
    top: 0;
    padding: 10px;
}

.navcontainer {
    width: 900px;
    margin: auto;
}

.navcontainer img {
    float: left;
    margin: auto;
    width: 175px;
    filter: var(--logo-filter);
}

.navcontainer ul {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navcontainer li {
    display: inline;
    padding: 10px
}

.navcontainer li a {
    color: var(--text-color);
}

.content {
    max-width: 800px;
    margin: auto;
    padding-top: 60px;
}

.content img {
    max-width: 800px;
    display: block;
    margin: auto;
}

body {
    line-height: 1.6;
    font-size: 20px;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 0 10px;
}

h1, h2, h3 {
    line-height: 1.2
}

h1 {
    text-align: center;
}

pre {
    font-size: 14px;
    overflow-x: auto;
}

a {
    color: var(--link-color);
}

.tag_list {
    padding: 20px;
    font-size: 12px;
    text-align: center;
}

.note_preview {
    line-height: 1;
    padding: 10px;
}

.note_preview_title {
    line-height: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.note_preview_subtitle {
    color: var(--secondary-text-color);
    line-height: 1;
    font-size: 12px;
}

.note_preview_subtitle a{
    color: var(--secondary-text-color);
}

.note_preview_summary {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.note_title_block h1 {
    line-height: 1;
}

.note_subtitle {
    text-align: center;
    font-size: 12px;
}

.footer {
    border-top: 1px solid;
    text-align: center;
}

.error {
    text-align: center;
}

.error h1 {
    font-size: 10em;
}

#mc_embed_signup {
    background-color: var(--background-color) !important;
}

@media only screen and (max-width: 1100px) {

    .content {
        margin-top: 100px;
        max-width: fit-content;
        padding: 10px;
    }

    .content {
        font-size: 2em;
    }

    .content pre {
        font-size: 1em;
    }

    .navcontainer {
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    .navcontainer img {
        width: 300px;
    }

    .navcontainer li {
        font-size: 3em;
    }

    .navcontainer button {
        display: none;
    }

    .note_subtitle {
        text-align: center;
        font-size: 1em;
    }

    @media (prefers-color-scheme: dark) {

        :root {
        --background-color: #333;
        --text-color: #ccc;
        --link-color: #6a9ce7;
        --secondary-text-color: #9b9b9b;
        --logo-filter: invert(100%);
        --toggle-background-color: #fff;
        --toggle-text-color: #444;
        }

    }

}