{% extends "base.html" %}
{% block content %}
{% for note in notes %}
<div class="note_preview">
    <p class="note_preview_title"><a href = {{ config.NOTES_DIR }}/{{ note.filename }}>{{ note.title }}</a> </p>
    <p class="note_preview_subtitle">By {{ note.author }} on {{ note.publication_date }} 
        Tags: {% for tag in note.tags %} <a href="/tags?tag={{ tag }}">{{ tag }}</a>{{ "," if not loop.last }}{% endfor %}</p>
        <p class="note_preview_summary">{{ note.summary }}</p>
    </div>
    {% endfor %}

    {% if tag_set is defined %}
    <div class="tag_list">
        <strong>Tags</strong> {% for tag in tag_set %}<a href="/tags?tag={{ tag }}">{{ tag }}</a> {% endfor %}
    </div>
    {% endif %}
{% endblock %}