<div class=navbar>
    <div class=navcontainer>
        <a class=navlogo href="/">
            <img src="/static/images/{{ config.HEADER_IMAGE }}" alt="logo">
        </a>
        <div class=nav_links>
            <ul>
                {% for link in config.NAV_LINKS %}
                <li><a href={{ link[0] }}>{{ link[1] }}</a></li>
                {% endfor %}
                <li><button id="theme_toggle" style="display: none" onclick="switchTheme()">Dark 🌜</button></li>
            </ul>
        </div>
        <div class=mobile_dropdown>
            <div class=mobile_menu><a href="javascript:void(0);" onclick="mobileNav()">Menu ▾</a></div>
            <div id="mobile_dropdown_content" class="dropdown_content">
                {% for link in config.NAV_LINKS %}
                <p><a href={{ link[0] }}>{{ link[1] }}</a></p>
                {% endfor %}     
            </div>
        </div>
    </div>
</div>