<div id="subnavbar" class="subnavbar">
    <a id="curl_nav" href="/tools/curl">cURL</a>
    <a id="dns_nav" href="/tools/dns">DNS</a>
    <a id="ping_nav" href="/tools/ping">Ping</a>
    <a id="subnet_nav" href="/tools/subnet">Subnet Calculator</a>
    <a id="traceroute_nav" href="/tools/traceroute">Traceroute</a>
    <a id="oui_nav" href="/tools/oui">OUI Lookup</a>
    <a id="whois_nav" href="/tools/whois">Whois Lookup</a>
    <a id="rphash_nav" href="/tools/rphash">RP Hash Calculator</a>
</div>
<br>
