{% extends "base.html" %}
{% block head %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="{{ url_for('static', filename='tools.js') }}"></script>
<script>plausible('trackPushState')</script>
{% endblock %}
{% block content %}
<div id="tools_nav">{% include "tools_nav.html" %}</div>
<div id="app">{% block app %}{% endblock %}</div>
<pre id="term">

Your Public IP Address: 

 {{ public_ip }}
 {{ results|safe }}
</pre>
{% include "bottom_buttons.html" %}
{% endblock %}